{% extends "base.html" %}
{% block title %} COVID-19 US Weekly Forecast {% endblock %}

{% block content %}
<body>
    <form role="form" action='/' method="POST">
        <div class="container">
            <h2 class="flex center">Choose a State</h2><br>


        <button class="fipsButton" type="submit" name="fips" value="1">AL</button>
        <button class="fipsButton" type="submit" name="fips" value="2">AK</button>
        <button class="fipsButton" type="submit" name="fips" value="4"/>AZ</button>
        <button class="fipsButton" type="submit" name="fips" value="5"/>AR</button>
        <button class="fipsButton" type="submit" name="fips" value="6"/>CA</button>
        <button class="fipsButton" type="submit" name="fips" value="8"/>CO</button>
        <button class="fipsButton" type="submit" name="fips" value="9"/>CT</button>
        <button class="fipsButton" type="submit" name="fips" value="10"/>DE</button>
        <button class="fipsButton" type="submit" name="fips" value="11"/>DC</button>
        <button class="fipsButton" type="submit" name="fips" value="12"/>FL</button>
        <button class="fipsButton" type="submit" name="fips" value="13"/>GA</button>
        <button class="fipsButton" type="submit" name="fips" value="15"/>HI</button>
        <button class="fipsButton" type="submit" name="fips" value="16"/>ID</button>
        <button class="fipsButton" type="submit" name="fips" value="17"/>IL</button>
        <button class="fipsButton" type="submit" name="fips" value="18"/>IN</button>
        <button class="fipsButton" type="submit" name="fips" value="19"/>IA</button>
        <button class="fipsButton" type="submit" name="fips" value="20"/>KS</button>
        <button class="fipsButton" type="submit" name="fips" value="21"/>KY</button>
        <button class="fipsButton" type="submit" name="fips" value="22"/>LA</button>
        <button class="fipsButton" type="submit" name="fips" value="23"/>ME</button>
        <button class="fipsButton" type="submit" name="fips" value="24"/>MD</button>
        <button class="fipsButton" type="submit" name="fips" value="25"/>MA</button>
        <button class="fipsButton" type="submit" name="fips" value="26"/>MI</button>
        <button class="fipsButton" type="submit" name="fips" value="27"/>MN</button>
        <button class="fipsButton" type="submit" name="fips" value="28"/>MS</button>
        <button class="fipsButton" type="submit" name="fips" value="29"/>MO</button>
        <button class="fipsButton" type="submit" name="fips" value="30"/>MT</button>
        <button class="fipsButton" type="submit" name="fips" value="31"/>NE</button>
        <button class="fipsButton" type="submit" name="fips" value="32"/>NV</button>
        <button class="fipsButton" type="submit" name="fips" value="33"/>NH</button>
        <button class="fipsButton" type="submit" name="fips" value="34"/>NJ</button>
        <button class="fipsButton" type="submit" name="fips" value="35"/>NM</button>
        <button class="fipsButton" type="submit" name="fips" value="36"/>NY</button>
        <button class="fipsButton" type="submit" name="fips" value="37"/>NC</button>
        <button class="fipsButton" type="submit" name="fips" value="38"/>ND</button>
        <button class="fipsButton" type="submit" name="fips" value="39"/>OH</button>
        <button class="fipsButton" type="submit" name="fips" value="40"/>OK</button>
        <button class="fipsButton" type="submit" name="fips" value="41"/>OR</button>
        <button class="fipsButton" type="submit" name="fips" value="42"/>PA</button>
        <button class="fipsButton" type="submit" name="fips" value="44"/>RI</button>
        <button class="fipsButton" type="submit" name="fips" value="45"/>SC</button>
        <button class="fipsButton" type="submit" name="fips" value="46"/>SD</button>
        <button class="fipsButton" type="submit" name="fips" value="47"/>TN</button>
        <button class="fipsButton" type="submit" name="fips" value="48"/>TX</button>
        <button class="fipsButton" type="submit" name="fips" value="49"/>UT</button>
        <button class="fipsButton" type="submit" name="fips" value="50"/>VT</button>
        <button class="fipsButton" type="submit" name="fips" value="51"/>VA</button>
        <button class="fipsButton" type="submit" name="fips" value="53"/>WA</button>
        <button class="fipsButton" type="submit" name="fips" value="54"/>WV</button>
        <button class="fipsButton" type="submit" name="fips" value="55"/>WI</button>
        <button class="fipsButton" type="submit" name="fips" value="56"/>WY</button>
        </div>

        <!-- later change this to state abbr -->
        <hr>
        <h3 class="text-center">Forecasting the week of {{ next_week }}</h3>
    </form>


    <div class="container">
    <div class="flex center"><br><br>
        <ul style="list-style-type:none;">
            <li ><p class='text-left' style="font-size:25px;" > State: {{ state }}</p>
            <li><p class='text-left' style="font-size:25px;" > Fips: {{ fips }}</p>
            <li><p class='text-left' style="font-size:25px;" > Cases: {{ cases }}</p>
            <li><p class='text-left' style="font-size:25px;" > Deaths: {{ deaths }}</p>
            <li><p class='text-left' style="font-size:25px;" > Total open: {{ total_open }}</p>
            <li><p class='text-left' style="font-size:25px;" > Status: {{ status }}</p>
        </ul>
    </div>
    <hr><br>
    <div class="flex center">
        <br><br>
        <p class='text-left' style="font-size: 16px" >
            One of the things I appreciated when I visited South Korea in Fall of 2019, was that
            every bus station - actually almost everywhere you - go was a forecast on air quality, along with today's date and current time.
            S. Korea has been battling air pollution due to microfine dust particles deriving from seasonal gust storms(?)
            all the way from Mongolian and Chinese Deserts<a href="https://www.bbc.com/news/world-asia-48346344">(bbc.com)</a>.
            Because of its high toxicity, "fine dust" forecast is now part of their daily reminder.<br><br>

            Prediction models are not just for statistical analyses, I'd say; and therefore this app was created for the purpose
            of acknowledgment of making tools that are applicable for everyone, everyday.
        </p>
    </div>
    <div class='flex center'>
        <h3 class="text-center">
            Data and Results Explained
        </h3>
    </div>
    <br>
    <div><!-- DATA SOURCES -->
        <h4 class="text-left">Data Sources</h4>
        <ul >
            <li><h5>New York Times Coronavirus (Covid-19) Data in the United States</h5>
                <ul style="list-style-type:none;">
                    <li>
                        <p class="text-left" style="font-size: 13px">State by state daily updates on confirmed, as well as "probable" cases and deaths. The numbers represent accumulated records of `cases` and `deaths`, which include all those who recovered and passed.</p>
                    </li>
                </ul>
            </li>
            <li><h5>COVID-19 United States Reopen and Shut Down Status by State | NY Times</h5>
                <ul style="list-style-type:none;">
                    <li>
                        <p class="text-left" style="font-size: 13px">provided by: Rearc (AWS Data Exchange)</p>
                    </li>
                    <li>
                        <p class="text-left" style="font-size: 13px">Daily revision on various categories detailing on closures and reopening status in each state.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <hr><br>
        <h4 class="text-left">Dataset</h4>
        <p class='text-left'  style="font-size: 15px">
            Using the two datasets above, the input data was engineered (i.e. converting 'reopened' string elements into value counts), though not deviated to be biased.
            Assessment via Principle Composition Analysis(PCA) and polynomial regression indicated that complex feature manipulations
            were not necessary, such that RMSE scores were not significantly different from the original regression measures.

        </p>
        <div class="flex center">
            <img src="static/pac_variance.jpg" height=200 width=580>
        </div>
            <p class='text-center' style='font-size: 14px'>
                "Above tells us that the first 9 components explain about 98% of variance in the data.<br>
                Considering that, we can try computing the RMSE again using just the 9 features."
            </p>
            <br>
        <div class="flex center">
            <img src="static/rmse_pca.png" height=116 width=580>
        </div>
        <p class='text-left' style="font-size: 15px">
            The full EDA can be viewed in the GitHub repo, within the `EDA` directory (to be uploaded with all my codes tomorrow!). The screenshot is a view of the PCA and results from
            attempting to amalgamate some features that I've generated using polynomial degree morphing (details of this can be sought in the EDA notebook).
        </p><br>
        <p class='text-left'  style="font-size: 15px">

            Concluding from this extraneous work, I ended up with just a simple dataset that seemed to work way better for my LSTM model.
        </p>

        <br><!-- FORECAST DESCRIPTION -->
        <h4 class="text-left">Forecast Description</h4>
        <ul>
            <li>
                <p class="text-left" ><span style="font-size: 15px; font-weight: bold" class="note">Cases:</span><span style='font-size: 15px;'>Predicted total cases for next week in each state</span></p>
            </li>
            <li>
                <p class="text-left" ><span style="font-size: 15px; font-weight: bold" class="note">Deaths:</span><span style='font-size: 15px;'>Predicted total deaths for next week in each state</span></p>
            </li>
            <li>
                <p class="text-left"><span style="font-size: 15px; font-weight: bold" class="note">Total Open:</span><span style='font-size: 15px;'>Predicted number of public settings open for business (i.e. Barbar shop, gym, nail salon, bar, etc.). Each value represents a single entity/business category.</span></p>
            </li>
            <li>
                <p class="text-left" ><span style="font-size: 15px; font-weight: bold" class="note">Status:</span><span style='font-size: 15px;'>Risk rating ranging from `1` (Low risk: "gyms open", "traveling to work", etc.) to `3` (high risk: "state on shut-down", "stay home", "QT-Time").</span></p>
            </li>

        </ul>
        <br>
        <h4 class="text-left">ForecastNet Model</h4>
        <ul>
            <li>
                <p class="text-left" style="font-size: 16px">
                    The model, ForecastNet, is an LSTM Pytorch module.
                </p>
            </li>
            <li>
                <p class="text-left" style="font-size: 16px">
                    There are 58 input features in 7 sequences (time steps) per record (row), total of 406 columns. (May sound like a lot, but most of them are dummy values for fips and status.)
                    </p>
            </li>
            <li>
                <p class="text-left" style="font-size: 16px">
                    The output dimension is 6, which composes of columns: `cases`, `deaths`, `total_open`, `status_1`, `status_2` and `status_3` where
                    the latter three are dummy variables for three different status values.
                    </p>
            </li>
            </ul>
                <br>
                <br>
                    <p class="text-left" style="font-size: 16px">
                        The network was pretty straightforward in architecture:
                    </p>
                    <br>
                        <p style="font-weight:bold; font-size:14px">
                            Inputs -> 2 contiguously stacked layers from LSTM -> 1 dense output layer with no activation function(identity)
                        </p>
                    <br>
        <h4 class="text-left">Metrics</h4>
            <p class="text-left" style="font-size: 16px">
                Dealing with all continuous values, mean squared loss seemed to be a good fit for measuring how far off results were from ground truth.<br>
            </p>
                    <br>

        <h4 class="text-left">Conclusion</h4>
            <p class="text-left" style="font-size: 16px">
                My coding motto is the Occam's Razor principle: "Perfection must be simple".<br>
                an LSTM, yet a simple one such as this, seemed to produce a rather surprisingly low losses.<br>
            </p>
                <br>
                <br>
                <br>
                <hr>

        </div>
    </div>
</div>
</body>

{% endblock %}

