

{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<style>
body {
    background-image: url({{ url_for('static', filename='logo_icon.png')}});
}
.description {
    color: black;
}

</style>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<head>
<div class="jumbotron text-center">
  <div class="container">
      <img src="{{ url_for('static', filename='logo_icon.png') }}"/>

        <h1> Hello World! </h1><br>
</head>
        <form action="/" method="post">
            <div>
            <h4 class="description"> Get your numbers for next week! </h4>
            <p><button type="submit" name="projectButton" value="Forecast"/>COVID-19 Weekly Forecast</button></p>
            </div>
            <br>
            <div>
            <h4 class="description"> Are you a robot?  <br>Or are you a dog? </h4>
            <p><button type="submit" name="projectButton" value="Human-Dog"/>Human-Dog Detector</button></p>
            </div>
        </form>


</div>
  
<!--<script src="script.js"></script>-->

{% endblock %}
